button {
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--bg);
    border: 0.25rem solid var(--primary);
    border-radius: 0.5rem;
}

.btn-primary:hover {
    background-color: color-mix(in oklch, var(--primary) 90%, var(--bg));
    border-color: color-mix(in oklch, var(--primary) 90%, var(--bg));
}

.btn-primary:active {
    background-color: color-mix(in oklch, var(--primary) 83%, var(--bg));
    border-color: color-mix(in oklch, var(--primary) 83%, var(--bg));
    scale: 0.99;
}

.btn-secondary {
    background-color: var(--secondary);
    color: var(--bg);
    border: 0.25rem solid var(--secondary);
    border-radius: 0.5rem;
}

.btn-secondary:hover {
    background-color: color-mix(in oklch, var(--secondary) 90%, var(--bg));
    border-color: color-mix(in oklch, var(--secondary) 90%, var(--bg));
}

.btn-secondary:active {
    background-color: color-mix(in oklch, var(--secondary) 83%, var(--bg));
    border-color: color-mix(in oklch, var(--secondary) 83%, var(--bg));
    scale: 0.99;
}

input {
    padding: 0.75rem;
    border: 0.1rem solid var(--border);
    border-radius: 0.5rem;
    background-color: var(--bg-light);
    color: var(--text);
}

select {
    padding: 0.75rem;
    border: 0.1rem solid var(--border);
    border-radius: 0.5rem;
    background-color: var(--bg-light);
    color: var(--text);
}