package pages

templ Game() {
    <div class="m-0 p-0 w-100 vh-100 container-fluid">
        <div class="row">
            <section class="col-12 col-md-9">
                <div id="chess-board">
                </div>
            </section>
            <section class="col-12 col-md-3 d-flex flex-col">
                <div id="game-moves">
                </div>
                <div id="user-info">
                </div>
            </section>
        </div>
    </div>
}